<% @title="Jobtar.com Contact" %>
<% @meta_tag_desc="Jobtar.com Address: ITAGE Solutions, Pvt.Ltd Plot#45, Trimulgherry Secunderabad, AP 500010" %>

<address>
  <strong>Jobtar Solutions, Pvt.Ltd.</strong><br>
  Plot#435, Vanastalipuram<br>
  Hyderabad - 500023<br>
  AndraPradesh, India <br>
  <abbr title="Phone">P:</abbr> (040) 64646464
</address>

<address>
  <a href="mailto:#">info@jobtar.com</a>
</address>

<p class="lead">Our job is to find your job</p>
    <ul>
    <li>We search for companies that are hiring, so you don't have to</li>
    <li>We put you in control of your personal information</li>
    <li>We let companies know when you're a hot match to their job</li>
    <li>We search for companies that are hiring, so you don't have to</li>
    </ul>