<address>
  <strong>ITAGE Solutions, Pvt.Ltd.</strong><br>
  Plot#45, Trimulgherry<br>
  Secunderabad, AP 500010<br>
  <abbr title="Phone">P:</abbr> (040) 64641120
</address>

<address>
  <a href="mailto:#">info@jobtar.com</a>
</address>