<h2>Interviewer</h2>
<p>BeMyInterviewer is for anyone that wants to be successful at interviews.</p>
<p>Using interactive videos, you can practise and perfect your interview technique with the help of leading industry professionals. We'll provide you with valuable and practical advice to prepare you for the toughest questions and interview scenarios you are likely to face.</p>
<p>Most importantly, we want to help you feel confident and ready to answer any question thrown at you.</p>
<p>To do that, we've assembled a panel of successful businesspeople to interview you. In addition to their difficult questions, they're going to give you invaluable guidance on how to answer them. With this knowledge you'll be calmer, more collected and in a stronger position to win over your next interviewer.</p>
<p>To start, select an interviewer from the photos above or choose a topic or interviewer from the options on the left. If you pick an interview topic, a selection of our interviewers will provide you with advice on that subject.</p>
<p>Don't be caught out at your next interview. Prepare by watching these essential interview tips from our experienced interviewers. This training will give you greater self-confidence ready for your next job interview - and help spell the end of dread, jitters and sweaty palms! 


<h3>Killer Questions</h3>
<p>Killer questions can be difficult to respond to, but they are just a tactic used by interviewers to understand how you think and react in a given situation.</p>
<p>You might have heard horror stories. An interviewer asks 'What would you have written on your grave stone?', 'Name 10 famous people you would invite for dinner and why?' Such unusual questions are asked to test your composure, your confidence, how quickly you think on your feet and react under pressure.</p>
<p>Interviewers do not ask killer questions to catch you out. The questions on this site are genuinely used as the interviewers feel they reveal the most about a candidate. You should always expect the killer question and be prepared to respond.</p>
<p>Remember, the answers suggested shouldn't be repeated word for word but you should use your own initiative and style.</p>


<h3>Experience and Ambition</h3>
<p>During an interview you'll need to ensure you can demonstrate how your previous experience and ambition makes you suitable for the job.</p>
<p>This is a two-way conversation and gives you the opportunity to ask questions; if you are an ambitious person and the job in question doesn’t allow for much career development then perhaps it's not the right job for you. Remember to be honest.</p>
<p>The answers suggested in the film clips shouldn't be repeated word for word but you should use them as a basis and adapt them to your personal style to include your own work experience.</p>


<h3>Personality</h3>
<p>During a first interview, employers will ask you lots of questions that test your confidence, composure and personality traits. You may even feel as though some questions are trying to trick you into contradicting yourself. Ultimately though, the interviewer is trying to understand whether your personality will match or clash with the people you will be working with.</p>
<p>This section will show you the techniques an interviewer uses to find out your approach to work and how you would fit into the existing team.</p>
<p>Remember, the answers suggested shouldn’t be repeated word for word but you should use your own experience and say it in your own style. A job interview is not just about the employer liking you - it also gives you the opportunity to ask questions and decide whether the company is right for you.</p>


<h3>Selling Yourself</h3>
<p>This section will show you how to define and package your skills, experience and strengths to present yourself as a valuable and attractive candidate.</p>
<p>In every interview you will need to sell yourself – whether you’re going for a job in Sales, Retail, Finance or Customer Service - so be sure to know your positive attributes. </p>
<p>Remember though that there is a thin line between confidence and arrogance so striking the right balance is essential for a successful interview.</p>
<p>To really sell yourself and come across unscripted, natural and convincing, your answers should be in your own words - the suggestions on this site are merely to steer you in the right direction.</p>


<h3>Money</h3>
<p>Money questions give you the opportunity to negotiate the right offer for you. It can be an uncomfortable subject, but it's important to be ready to answer these questions from the outset. You should also ask for time to consider any offer made, so you are confident that it’s the right decision for you.</p>
<p>The trick with this section is to not say a salary too high or low - as the interviewer may think you are over or underpaid for the position.</p>
<p>
<p>Remember, the answers suggested within this section shouldn't be repeated word for word, but will give you a guide to managing salary questions so you can be prepared to respond using your own words and experiences.</p>