<h1>Redundancy Advice</h1>

<p>Unfortunately redundancies have become an all too common part of our working lives at the moment. If you or a family member have been made redundant you'll be well aware of the worry and uncertainty it brings.</p>
<p>We'd like to help you get back into work as quickly as possible. So in addition to signing up to receive Jobs-by-Email and uploading your CV, you can find lots of helpful redundancy advice below to help you prepare for your return to work.</p>

<h3>CV / Covering Letter Advice</h3>
<p> Your CV and accompanying covering letter are essential documents to show why you deserve the job that you're applying for. They decide whether you get invited to interview so you need to make sure they're spot on. </p>

<h4>The Dos and Don’ts of Writing an Effective CV</h4>
<p> Should
you list your work experience or achievements first? Do you include a
photo or not? Will coloured paper make you stand out from the crowd?
Writing your CV can be a minefield but there are certain simple rules
you can follow. Discover the dos and don’ts of CV writing with our
guide from JobTar’s expert CV Partner, CV Checker.<br>
</p>
<p>
Top 10 CV dos<br>
</p>
<ol>
<li>
<p>
Use a confident
tone and
positive language Use positive words to start each sentence,
such as initiated, improved, introduced, developed, negotiated,
established, created, pioneered, delivered, increased, reduced, saved
etc. This also helps to ensure that you’re substantiating your skills
with hard evidence</p>
</li>
<li>
<p>
Concentrate
on your
achievements
not your responsibilities This means listing things you have
done – such as products launched, sales increase, awards won – not
rewriting your job description. Quote figures whenever possible. </p>
</li>
<li>
<p>
Encourage
the employer to read
on
Ensure that you put your most salient points on the first page of the
CV to include your greatest successes and achievements and proven
examples of how you have used your skills to benefit the companies you
have worked for.</p>
</li>
<li>
<p>
Concentrate
on the quality not
quantity of your achievements Don’t hold anything back but make
sure that your achievements are fantastic and not just that you are a
fantastic communicator! Typically a CV should have 10 achievements on
it that cover the main successes in your career to get the reader’s
attention.</p>
</li>
<li>
<p>
Rise
above the competition
Make sure you include other skills that could set you apart from other
candidates, such as languages and IT skills.</p>
</li>
<li>
<p>
Keep
to the point Be
ruthless with yourself and keep your CV to a maximum of two pages. Only
very senior, experienced executives have more to say. </p>
</li>
<li>
<p>
Check,
check and check again
Check thoroughly for correct spelling and grammar – spotting errors is
a quick and easy way of weeding out weaker candidates when faced with a
mountain of CVs to read. Don’t just rely on your computers spellchecker
but get someone else to proof it – you may have spelt a word correctly
but used it in the wrong place.</p>
</li>
<li>
<p>
Use
relevant keywords
With posts advertised through job boards and online recruiters,
keywords are entered into databases to find the most relevant
jobseekers without having to trawl through 1000s of candidates. These
keywords will include specific technical skills like SAP or
qualifications like ACCA or specific job titles like ‘Customer services
advisor’. Make sure your CV mirrors the language used in the advert.</p>
</li>
<li>
<p>
Capture
immediate attention
Prioritise the content of your CV and detail the most relevant
information first. Start with a hard-hitting personal profile that
avoids clich&eacute;s such as ‘hard-working, team player with excellent
communication skills’. Make sure that all your career history is punchy
and to the point with qualified and quantified successes.</p>
</li>
<li>
<p>
Graduates
should expand
Tell your reader more about your degree other than just the modules you
have taken. Show successes you have had in your project work and
dissertations and other extracurricular activities you have undertaken.
More experienced jobhunters should just put their degree details on
page two with the university they attended, the degree that they took
and the grade gained.</p>
</li>
</ol>
<p style="color: rgb(12, 45, 131); font-weight: bold;">Top
10 CV don’ts<br>
</p>
<ol>
<li>
<p>
Expand
the truth It is
simply not true that the bigger the lies you put on your CV then the
better the job you will get. Most employers are not fooled by creative
embellishments and if you do manage to get a job based on this you
could be let go of pretty quickly which won’t look good on your CV.</p>
</li>
<li>
<p>
List
everything An
employer really doesn’t need or want to know all the one-day training
courses you have ever been on. Keep information relevant and to the
point.</p>
</li>
<li>
<p>
Include
a photo No
matter
how attractive you make yourself look, it will not improve your
chances. This tends to be popular in other European countries but isn’t
favoured by the majority of UK businesses.</p>
</li>
<li>
<p>
Get
creative Don’t use
elaborate fonts and colours to make your CV stand out. The more
gimmicky you make your CV using different shapes and pictures, the more
off-putting it will be to an employer. It will also make it more
difficult to upload to JobTar.</p>
</li>
<li>
<p>
Divulge
sensitive information
Never include your NI or passport number or any other sensitive
personal information on your CV.</p>
</li>
<li>
<p>
Tailor
your CV Your CV
should be strong enough to be used for different positions that you are
applying for. It is your covering letter that you should tailor
carefully for each position, making sure it answers all of the
employer’s questions about your suitability for the role. However, if
you have a really wide skill set then you may have more than one CV
depending on which role you’re going for. See this month’s Expert
Top
Tips</a> for more on how to write an exceptional covering letter</p>
</li>
<li>
<p>
Talk
about me, me, me
Don’t start each sentence in the first person. Instead use phrasing
such as ‘Selected to manage the companies online marketing spend of
one lakh  which resulted in position 1 being achieved across all
search engines within 6 months’. </p>
</li>
<li>
<p>
Talk
in clich&eacute;s
Phrases such as ‘I am a highly motivated individual who works well on
my own or in a team, with exceptional communication skills and the
ability to work under pressure to produce results under tight
deadlines’ are dull and the employer has heard them all before. Make
yourself stand out with carefully worded phrasing that is factual and
captures the employer’s attention.</p>
</li>
<li>
<p>
Duplicate
applications
Some recruiters have systems that handle multiple applications from the
same person, but for those that don’t, remember it is most off-putting
to receive five CVs from the same person and for the same job
application.</p>
</li>
<li>
<p>
Make
the recruiter jump through
hoops If you are able to perform in the job, explain how in your
CV. Don’t expect the employer to read between the lines to work out
whether you will be worth the &pound;40k salary per annum. Sadly,
that’s what lots of candidates think it's the recruiter’s job to do.</p>